nav{
    background-color: transparent;
    background-color: black;

}

.nav-item a{
    color: aqua;
    /* font-size: large; */
}
.navbar-brand {
    color: aqua;
}

@media screen and (max-width:1200px) {
    nav{
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
}